In [16]:
#Different Ways to create DataFrame -

#Using CSV
#Using Excel
#Using Python Dictonary
#Using List of Tuples
#Using List of Dictonary

#There are other many ways to create a DataFrame in Python

In [2]:
#Using CSV -

import pandas as pd
df = pd.read_csv('weather_data.csv')
df

         days  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           32          2  Sunny

In [4]:
#Using Excel -

import pandas as pd
df = pd.read_excel('weather_data.xlsx', 'weather_data')
df

        days  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           32          2  Sunny

In [6]:
#Using Python Dictonary - (Every Elements needs to have same size of array)

import pandas as pd

weather_data = {
    'days': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017'],
    'temparture': [32,35,34,36],
    'windspeed': [6,7,2,8],
    'event': ['Rain','Suuny','Snow','storm']
}

df = pd.DataFrame(weather_data)
df

       days  temparture  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Suuny
2  1/3/2017          34          2   Snow
3  1/4/2017          36          8  storm

In [7]:
#Using List of Tuples - (Needs to assign columns name)

import pandas as pd

weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',34,2,'Snow'),
    ('1/4/2017',36,8,'Strorm')
]

df = pd.DataFrame(weather_data, columns=['days','temperature','windspeed','event'])
df

       days  temperature  windspeed   event
0  1/1/2017           32          6    Rain
1  1/2/2017           35          7   Sunny
2  1/3/2017           34          2    Snow
3  1/4/2017           36          8  Strorm

In [15]:
#Using List of Dictonary -

import pandas as pd

weather_data = [
    {'days':'1/1/2017','temperature':32,'Windspeed':6,'event':'Rain'},
    {'days':'1/2/2017','temperature':35,'Windspeed':7,'event':'Sunny'},
    {'days':'1/3/2017','temperature':34,'Windspeed':2,'event':'Snow'},
    {'days':'1/4/2017','temperature':36,'Windspeed':8,'event':'Storm'}
]

df = pd.DataFrame(weather_data)
df

       days  temperature  Windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           34          2   Snow
3  1/4/2017           36          8  Storm